Title

Intro

Data Overview

Initilization

In [47]:
import pandas as pd

In [48]:
df_cars = pd.read_csv('~/car_analysis/vehicles_us.csv')

Data Preperation

In [49]:
display(df_cars.sample(10))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
13933,9999,2011.0,ford expedition,excellent,8.0,gas,110700.0,automatic,SUV,white,1.0,2019-02-15,34
10910,7200,2007.0,honda cr-v,good,4.0,gas,153703.0,automatic,SUV,NaN,NaN,2018-10-14,15
39216,4950,2003.0,toyota corolla,excellent,4.0,gas,105000.0,automatic,sedan,NaN,NaN,2018-09-28,106
17937,4995,2011.0,ford fusion se,good,4.0,gas,NaN,automatic,sedan,grey,NaN,2018-09-09,5
92,2950,2003.0,chevrolet silverado,good,8.0,gas,230000.0,automatic,pickup,NaN,NaN,2018-05-06,24
30688,38900,2017.0,ram 2500,like new,6.0,diesel,74100.0,automatic,truck,grey,1.0,2019-04-02,210
1890,10704,2015.0,kia soul,excellent,4.0,gas,72019.0,automatic,wagon,black,NaN,2018-07-13,16
19205,8950,2008.0,chevrolet silverado,excellent,8.0,gas,140000.0,automatic,truck,NaN,1.0,2018-10-31,45
28891,15900,2008.0,ford f250 super duty,excellent,8.0,diesel,166430.0,automatic,truck,white,1.0,2019-02-14,49
21442,6495,2015.0,hyundai elantra,excellent,4.0,gas,136265.0,automatic,sedan,white,NaN,2018-10-21,26

In [50]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [51]:
print(df_cars.duplicated().sum())

0

In [55]:
df_cars.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

Fix Data

In [56]:
#removing all entries with information that is missing
df_clean= df_cars.dropna(subset=['model_year', 'paint_color','cylinders','odometer'])

In [80]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29916 entries, 2 to 51523
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         29916 non-null  int64
 1   model_year    29916 non-null  int64
 2   model         29916 non-null  object
 3   condition     29916 non-null  object
 4   cylinders     29916 non-null  int64
 5   fuel          29916 non-null  object
 6   odometer      29916 non-null  float64
 7   transmission  29916 non-null  object
 8   type          29916 non-null  object
 9   paint_color   29916 non-null  object
 10  is_4wd        29916 non-null  float64
 11  date_posted   29916 non-null  datetime64[ns]
 12  days_listed   29916 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(6)
memory usage: 3.2+ MB

In [64]:
#filling null values with 0
df_clean= df_clean.fillna(0)

In [74]:
#converting float64 to int64 for all data expected to be treated as whole numbers
df_clean['model_year'] = df_clean['model_year'].apply(int)
df_clean['cylinders'] = df_clean['cylinders'].apply(int)
df_clean['days_listed'] = df_clean['days_listed'].apply(int)

In [79]:
#converting date_posted to date time data type
df_clean['date_posted'] = pd.to_datetime(df_clean['date_posted'])

In [86]:
#creating column for car manufacturer
df_clean['manufacturer'] = df_clean['model'].apply(lambda x: x.split()[0])

In [88]:
print(df_clean['manufacturer'].unique())

['hyundai' 'chrysler' 'toyota' 'honda' 'chevrolet' 'gmc' 'ram' 'jeep'
 'ford' 'nissan' 'subaru' 'dodge' 'kia' 'acura' 'bmw' 'volkswagen' 'buick'
 'cadillac']